{%extends 'base.html'%}
{%block title%}Meal Selection{%endblock%}
{%block body%}
    <h2>Choose meal: </h2>
    <div>
        <img src="no-preference.png"/>
        <h3>No Preference</h3>
        <p>This option indicates the passenger has no specific dietary restrictions or requirements. The airline may serve the standard in-flight meal available to all passengers.</p>
        <a href="/meal/no-preference">Select</a>
    </div>
    <div>
        <img src="no-preference.png"/>
        <h3>Halal Meal</h3>
        <p>This option indicates the passenger has no specific dietary restrictions or requirements. The airline may serve the standard in-flight meal available to all passengers.</p>
        <a href="/meal/halal">Select</a>
    </div>
    <div>
        <img src="no-preference.png"/>
        <h3>Kosher Meal</h3>
        <p>This option indicates the passenger has no specific dietary restrictions or requirements. The airline may serve the standard in-flight meal available to all passengers.</p>
        <a href="/meal/kosher">Select</a>
    </div>
    <div>
        <img src="no-preference.png"/>
        <h3>Veg Meal</h3>
        <p>This option indicates the passenger has no specific dietary restrictions or requirements. The airline may serve the standard in-flight meal available to all passengers.</p>
        <a href="/meal/veg">Select</a>
    </div>
{%endblock%}